@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section>
    <input type='text' value='' placeholder='Search for...'>
    <button class="wiki">Make it so</button>
</section>
<section class='articles'></section>